<%= form_for(@total_revenue) do |f| %>
  <% if @total_revenue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@total_revenue.errors.count, "error") %> prohibited this total_revenue from being saved:</h2>

      <ul>
      <% @total_revenue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sale_id %><br>
    <%= f.number_field :sale_id %>
  </div>
  <div class="field">
    <%= f.label :total_gross_revenue %><br>
    <%= f.text_field :total_gross_revenue %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
