<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @total_revenue.sale_id %>
</p>

<p>
  <strong>Total gross revenue:</strong>
  <%= @total_revenue.total_gross_revenue %>
</p>

<%= link_to 'Edit', edit_total_revenue_path(@total_revenue) %> |
<%= link_to 'Back', total_revenues_path %>
