<hr />
<%= link_to "Home", statics_welcome_path %>
<%= link_to "Product", products_path %>
<%= link_to "Order", orders_path %>
<%= link_to "Sale", sales_path %>
<%= link_to "Sale Report", sales_sale_report_path %>
<%= link_to "Low on Stock Report", products_stock_report_path %>
<%= link_to "Total Gross Revenue", total_revenues_path %>
<hr />
