<%= form_for(@gross_revenue) do |f| %>
  <% if @gross_revenue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gross_revenue.errors.count, "error") %> prohibited this gross_revenue from being saved:</h2>

      <ul>
      <% @gross_revenue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
