<hr />
<%= link_to "Home", statics_welcome_path%>
<%= link_to "Product", products_path %>
<%= link_to "Order", orders_path %>
<%= link_to "Sale", sales_path %>
<%= link_to "Sale Report", sales_sale_report_path %>
<%= link_to "Low on Stock Report", products_stock_report_path %>
<hr />
<h1>Total Cost of Good Sold</h1>

<table>
  <thead>
  <tr>
    <th>Total gross revenue</th>

  </tr>
  </thead>

  <tbody>
  <% @gross_revenues.each do |total_revenue| %>
      <tr>
        <td><%= number_to_currency(total_revenue.total_g_revenue)%>

      </tr>
  <% end %>
  </tbody>
</table>

<br>


