<%= link_to "Home", statics_welcome_path%>
<%= link_to "Order", orders_path %>
<%= link_to "Product", products_path %>
<%= link_to "Sale Report", sales_sale_report_path %>
<%= link_to "Low on Stock Report", products_stock_report_path %>
<%= link_to "Total Gross Revenue", total_revenues_path %>
<hr />
<h1>List of Good Sold</h1>

<%= form_tag sales_path, :method => 'get' do %>
    <p>
      Start Date:
      <%= date_field_tag :search, params[:search] %>
      End Date:
      <%= date_field_tag :searchA, params[:searchA] %>
      <%= submit_tag "Search" %>
    </p>
<% end %>
<table border="2">
  <thead>
    <tr>
      <th>Product</th>
      <th>Sold</th>
      <th>Price</th>
       <th>Date</th>
      <th>Revenue</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.product_id %></td>
        <td><%= sale.sold %></td>
        <td><%= sale.price	  %></td>
         <td><%= sale.date %></td>
        <td><%= number_to_currency(sale.revenue)  %></td>
         <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
