<hr />
<%= link_to "Clerk Dashboard", products_clerk_path %>
<%= link_to "Order", orders_path %>

<hr />
<h1>Clerk Product View</h1>

<table border="2">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quanity</th>
    <th>Price</th>
    <th>Minimum</th>
    <th>Restock</th>
    <th></th>

  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.quanity - product.sum_sold + product.sum_order %></td>
        <td><%= number_to_currency(product.price)	  %></td>
        <td><%= product.minimum %></td>
        <td><%= product.below_five %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>


