<hr />
<%= link_to "Home", statics_welcome_path%>
<%= link_to "Product", products_path %>
<%= link_to "Order", orders_path %>
<%= link_to "Sale", sales_path %>
<%= link_to "Sale Report", sales_sale_report_path %>
<%= link_to "Total Gross Revenue", total_revenues_path %>
<hr />
<h1>Low on Stock Product Report</h1>

<table border="2">
  <thead>
  <tr>
    <th>Name</th>
    <th>Quanity</th>
    <th>Price</th>
    <th>Minimum</th>
    <th>Restock</th>

  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.quanity - product.sum_sold + product.sum_order %></td>
        <td><%= number_to_currency(product.price)	  %></td>
        <td><%= product.minimum %></td>
        <td><%= product.below_five %></td>


      </tr>
  <% end %>
  </tbody>
</table>

<br>


