
<hr />
<%= link_to "Sale", sales_path %>
<hr />
<h1>Sale Report </h1>

<%= form_tag sales_sale_report_path, :method => 'get' do %>
    <p>
      Start Date:
      <%= date_field_tag :search, params[:search] %>
      End Date:
      <%= date_field_tag :searchA, params[:searchA] %>
      <%= submit_tag "Search" %>
    </p>
<% end %>

<table border="2" >
  <thead>
  <tr>
    <th>Product</th>
    <th>Sold</th>
    <th>Price</th>
    <th>Date</th>
    <th>Revenue</th>
    </tr>
  </thead>

  <tbody>
  <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.product_id %></td>
        <td><%= sale.sold %></td>
        <td><%= sale.price %></td>
        <td><%= sale.date %></td>
        <td><%= sale.revenue  %></td>

      </tr>
  <% end %>
  </tbody>
</table>
  <br>
